/* Importing fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Montserrat&family=Mooli&family=MuseoModerno&display=swap');

/* Root-level CSS variables */
:root {
  --primary-color: #45a29e; /* Primary color */
  --primary-color-dark: #44bbb5; /* Darker shade of primary color */
  --secondary-color: #44bbb5; /* Secondary color */
  --text-dark: #44bbb5; /* Dark text color */
  --text-light: #c5c6c7; /* Light text color */
  --extra-light: #1f2833; /* Extra light background color */
  --max-width: 1200px; /* Maximum width of the content */
}

/* Resetting default styles for all elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Removing underlines from links */
a {
  text-decoration: none;
}

/* Setting the default font for the entire page */
body {
  font-family: 'Montserrat', sans-serif;
}

/* Navigation bar styles */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

/* Styles for the content within the navigation bar */
.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 24px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Styles for the logo in the navigation bar */
nav .logo a {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}

/* Hover effect for the logo */
nav .logo a:hover {
  color: var(--primary-color-dark);
}

/* Styles for a hidden checkbox element */
nav .checkbox {
  display: none;
}

/* Styles for hidden input elements */
nav input {
  display: none;
}

/* Styles for an icon within the navigation bar */
nav .checkbox i {
  font-size: 32px;
  color: var(--primary-color);
  cursor: pointer;
}

/* Styles for the navigation links */
ul {
  display: flex;
  align-items: center;
  gap: 16px;
  list-style: none;
  transition: left 0.3s;
}

/* Styles for individual navigation links */
ul li a {
  padding: 8px 16px;
  border: 2px inset transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

/* Hover effect for navigation links */
ul li a:hover {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

main {
  height: 100%;
  width: 100%;
  padding: 150px;
  margin: 100px auto;
  background-color: var(--extra-light);
}

.menu-icon {
  display: none;
}

/* Center the contact form horizontally and vertically */
.contact-form {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding-right: 80px;
  max-width: 600px;
  margin: 0 auto;
  width: 100%; /* Ensures the form takes the full width of the container */
  text-align: center; /* Align form elements to the left */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}

.contact-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--primary-color);
}

/* Styles for form groups */
.form-group {
  width: 100%; /* Adjusted for responsiveness */
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  text-align: left;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

/* Styles for submit button */
.submit-button {
  background-color: #45a29e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #44bbb5;
}

.dropdown {
  display: none;
}

@media (max-width: 768px) {
  /* Show the checkbox icon and the hidden input elements */
  nav .checkbox i {
    display: block;
  }
  nav input {
    display: block;
  }
  /* Hide the navigation links by default */
  ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust the distance from the top as needed */
    right: 0;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  /* Show the navigation links when the checkbox is checked */
  input:checked + ul {
    display: flex;
  }
  /* Style for individual navigation links in the mobile menu */
  ul li a {
    padding: 10px 20px;
    text-align: center;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
  }
  /* Hover effect for mobile navigation links */
  ul li a:hover {
    background-color: var(--secondary-color);
    color: #fff;
  }
  /* Adjust the padding for the content on small screens */
  main {
    padding: 150px;
  }

  .contact-form {
    text-align: center;



  }

    /* Show the menu icon */
  .dropbtn {
    padding-left: 20px;
    background-color: #45a29e;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: #45a29e;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color: #44bbb5;}   
}
